.file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 55px;
  height: 55px;
  font-size: 55px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.selected {
  background-color: #444444;
}

.folder {
  color: #f0ad4e;
}

.resume {
  color: #4385f4;
}