.folder-explorer {
  background: #DDDDDD;
  position: absolute;
  max-width: 100%;
  max-height: calc(100% - 40px);
  box-shadow: 0 0 5px 5px #444444;
  font-weight: bold;
}

.folder-explorer-header-draggable {
  width: inherit;
  height: 25px;
  position:absolute;
}

.folder-explorer-header {
  display: flex;
  width: 100%;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #999999;
  font-size: 12px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #EEEEEE;
}

.folder-explorer-header-wrapper {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 5px;
}

.folder-explorer-header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folder-actions {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 2px;
  text-align: center;
  color: white;
  position: absolulte;
  z-index: 1;
}

.folder-actions-minimize {
  background-color: #FFC107;
}

.folder-actions-close {
  background-color: #F44336;
}

.folder-actions-maximize {
  background-color: #4CAF50;
}

.folder-explorer-resize {
  position:absolute;
  height: 20px;
  width: 20px;
}

.top-left:hover, .bottom-right:hover {
  cursor: nwse-resize
}

.top-right:hover, .bottom-left:hover {
  cursor: nesw-resize
}